<h1>
    ¡Bienvenido/a!
</h1>
<ul>
    <li>Nombre de usuario: @ViewBag.usuario.UserName</li>
    <li>Nombre: @ViewBag.usuario.Nombre</li>
    <li>Email: @ViewBag.usuario.Email</li>
    <li>Teléfono: @ViewBag.usuario.Telefono</li>
</ul>