<h1>Nueva contraseña</h1>
<form method = "get" action = '@Url.Action("OlvideMiContrasenia","Account")'>
    <p>USERNAME: <input type= "text" name = "UN" required><br>
    NUEVA CONTRASEÑA: <input type= "text" name = "contranUeva" required><br>
    </p>
<input type = "submit" value = "ACTUALIZAR">
</form>